@tailwind base;
a {
  @apply text-blue-700;
}

a:hover {
  @apply border-b-2 border-blue-700;
}

@tailwind components;
@tailwind utilities;
.content p {
  @apply my-6;
}

.content ul {
  @apply my-6;
}

a {
  text-decoration: none;
  color: black;
}

.main-header {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-content: flex-start;
  align-items: center;
  height: 80px;
  max-width: 1580px;
  flex-grow: 1;
  width: 100%;
  padding: 0 125px 0 115px;
}

.logo {
  flex-basis: 260px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding-left: 20px;
}

.logo a {
  display: inline-block;
}

.logo a span {
  display: block;
  margin-top: 5px;
  width: 140px;
}

.searchbar {
  flex: 1;
}

.searchbar .form-group-wrapper {
  position: relative;
}

.searchbar .form-group-wrapper input {
  padding-right: 35px;
}

.searchbar input {
  border-radius: 50px;
  padding-right: 10px;
}

.react-autosuggest__input {
  width: 100%;
  height: 45px;
  padding: 0 65px 0 15px;
  font-weight: 300;
  font-size: 16px;
  border: 1px solid #aaa;
  border-radius: 4px;
  font-family: 'Lato';
}

.searchbar .form-group-wrapper .search-icon {
  position: absolute;
  top: 4px;
  bottom: 4px;
  right: 10px;
  border-radius: 0 3px 3px 0;
}

.cart-buttons {
  /* flex-basis: 550px; */
  flex-basis: 300px;
  height: 80px;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
  margin-left: 60px;
  padding-left: 40px;
  padding-left: 20px;
  padding-right: 8px;
}

.cart-buttons .buttons-list {
  width: 100%;
}

.cart-buttons .buttons-list>ul {
  display: flex;
  flex-wrap: nowrap;
  height: 80px;
  padding: 0;
}

ul li {
  list-style: none;
}

.cart-buttons .buttons-list>ul li:first-child {
  border-left: 0px;
}

.cart-buttons .buttons-list>ul li {
  flex: 1;
  display: flex;
  align-items: stretch;
  justify-content: center;
  position: relative;
  cursor: pointer;
}

.cart-buttons .buttons-list>ul li div.wrap {
  display: flex;
  align-items: center;
  width: 100%;
  justify-content: center;
  flex-direction: column;
}

.cart-buttons ul li .nav-icon {
  width: 30px !important;
  height: 20px !important;
}

.cart-buttons ul li div.wrap span.icon_label {
  font-size: 12px !important;
}

svg {
  width: 100%;
  height: 100%;
}